{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <script>
    $(document).ready(function() {
      $('#url').keypress(function (e) {
        if (e.which == 13) {
          go();
          return false;
        }
      });
    });
  </script>
{% endblock %}

{% block content %}
    <h1>urlclustering demo</h1>
    This will read up to 10,000 URLs from a sitemap and cluster them (min_cluster_size=10).
    <br/><br/>
    Website (or URL to a specific sitemap):
    <input type="text" name="url" id="url" size="60" value="http://www.cssigniter.com" />
    <input type="button" id="go" value="GO" onclick="go()">
    <div id="results"></div>
{% endblock %}